# Topic 1: List

Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [11]:
list_1 = [12, 15.6, True, 'hello', ['a', 'b']]
list_2 = [1, 2, 3, 4]
list_3 = list('hello')   # ['h', 'e', 'l', 'l', 'o']
list_4 = []

In [14]:
print(list_1) 
print(list_2)
print(list_3)
print(list_4)

[12, 15.6, True, 'hello', ['a', 'b']]
[1, 2, 3, 4]
['h', 'e', 'l', 'l', 'o']
[]

# Create

In [15]:
list_5 = list_2 + list_3
list_5

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

In [16]:
list_2 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
list_2.append('Data Camp')
list_2

[1, 2, 3, 4, 'Data Camp']

In [18]:
list_2.insert(2, 'abc')
list_2

[1, 2, 'abc', 3, 4, 'Data Camp']

In [19]:
list_2.extend(list_3)
list_2

[1, 2, 'abc', 3, 4, 'Data Camp', 'h', 'e', 'l', 'l', 'o']

# Read

In [20]:
for x in list_2:
    print(x, end=' ')

1 2 abc 3 4 Data Camp h e l l o

In [21]:
list_2[0], list_2[3], list_2[-1]  # indexing returns the item

(1, 3, 'o')

In [22]:
list_2[1:6], list_2[:3], list_2[1:], list_2[:-2] # slicing returns a new list

([2, 'abc', 3, 4, 'Data Camp'],
 [1, 2, 'abc'],
 [2, 'abc', 3, 4, 'Data Camp', 'h', 'e', 'l', 'l', 'o'],
 [1, 2, 'abc', 3, 4, 'Data Camp', 'h', 'e', 'l'])

In [23]:
2 in list_2

True

In [27]:
if 2 in list_2:
    print(list_2.index('abc'))  # return the index of 'abc' in list_2

2

In [35]:
list_2.count(2)  # return number of 2 in list_2

1

# Update

In [44]:
list_2 = [1, 2, 3, 4]
list_2

[1, 2, 3, 4]

In [45]:
list_2[2] = 100
list_2

[1, 2, 100, 4]

In [46]:
list_2[1:3] = [20, 30, 40, 50, 60, 70]
list_2

[1, 20, 30, 40, 50, 60, 70, 4]

In [47]:
list_2[1:4] = []
list_2

[1, 50, 60, 70, 4]

# Delete

In [54]:
list_2 = [1, 2, 3, 4, 5, 6]
list_2

[1, 2, 3, 4, 5, 6]

In [55]:
list_2.pop(0)
list_2

[2, 3, 4, 5, 6]

In [56]:
list_2.remove(4)  # del 4
list_2

[2, 3, 5, 6]

In [57]:
del list_2[1]
list_2

[2, 5, 6]

In [59]:
list_2 = [1, 2, 3, 4, 5, 6]
del list_2[2:4]
list_2

[1, 2, 5, 6]

# Other useful Operations

In [61]:
list_3

['h', 'e', 'l', 'l', 'o']

In [60]:
len(list_3)

5

In [62]:
list_3.sort()
list_3

['e', 'h', 'l', 'l', 'o']

In [63]:
list_3.reverse()
list_3

['o', 'l', 'l', 'h', 'e']

# Example of a list generator

In [64]:
# 1: generate different times of 5 under 100
result = []
for i in range(101):
    if i % 5 == 0:
        result.append(i)
print(result)
        
# 2
result = [i for i in range(101) if i % 5 == 0]
print(result)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

Solution: Swap two integers in an array using function

In [ ]:
class Solution:
    """
    @param A: An integer array
    @param index1: the first index
    @param index2: the second index
    @return: nothing
    """
    def swapIntegers(self, A, index1, index2):
        A[index1], A[index2] = A[index2], A[index1]

Solution: remove element

In [ ]:
class Solution:
    """
    @param: A: A list of integers
    @param: elem: An integer
    @return: The new length after remove
    """
    def removeElement(self, A, elem):
        if A is None or len(A) == 0 or elem is None:
            return 0
        
        head, tail = 0, len(A) - 1
        while head <= tail:
            if A[head] == elem:
                A[head] = A[tail]
                tail -= 1
            else:
                head +=1
        
        return tail+1

# Topic 2 String

In [67]:
str_1 = 'Hello world!'
str_2 = 'Data Camp'
str_3 = 'is great'

In [68]:
print(str_1, str_2, str_3)

Hello world! Data Camp is great

In [69]:
ch = 'a'
ch2 = 'A'
ch3 = '字'
ch4 = ' '
ch5 = ','
ch6 = '\n'
ch7 = '\''
ch8 = '\\'

In [72]:
ch, ch2, ch3, ch4, ch5, ch6, ch7, ch8

('a', 'A', '字', ' ', ',', '\n', "'", '\\')

In [74]:
ord('字'), ord('A')  # returns an integer representing the Unicode character.

(23383, 65)

In [75]:
chr(97), chr(1000)   # returns a character (a string) from an integer (represents unicode code point of the character)

('a', 'Ϩ')

# Operations:

In [77]:
str_1 + str_2

'Hello world!Data Camp'

In [78]:
str_2 * 3

'Data CampData CampData Camp'

In [79]:
str_2[0], str_2[1:5]

('D', 'ata ')

In [80]:
str_2.find('a')

1

In [81]:
str_2.replace('a', 'AAAA')

'DAAAAtAAAA CAAAAmp'

In [82]:
len(str_2)

9

In [84]:
'I am {}, and my score is {}'.format('a Data scientist', 100)

'I am a Data scientist, and my score is 100'

In [86]:
# reverse a string
s = 'Data Camp'

# 1
result = ''
for i in range(len(s)-1, -1, -1):
    result += s[i]
print(result)

# 2
print(s[::-1])

pmaC ataD
pmaC ataD

In [87]:
# 
strs = ['Wells Fargo', 'is', 'a', 'bank']

# NP
result = ''
for s in strs:
    result += s + ' '
print(result)

# P
result = ' '.join(strs)
print(result)

Wells Fargo is a bank
Wells Fargo is a bank

In [ ]:
solution: Lowercase to Uppercase

In [ ]:
class Solution:
    """
    @param character: a character
    @return: a character
    """
    def lowercaseToUppercase(self, character):
        return chr(ord(character) - ord('a') + ord('A'))

# Topic 3: Dictionary

In [88]:
dict_1 = {}
dict_2 = {'spam': 2, 'eggs': 3, 'food': {'ham': 1, 'ice': 2}}
dict_3 = dict(zip(['spam', 'eggs'], [2, 3]))

In [90]:
dict_2

{'spam': 2, 'eggs': 3, 'food': {'ham': 1, 'ice': 2}}

In [91]:
dict_3

{'spam': 2, 'eggs': 3}

# create

In [92]:
dict_1[2] = 4
dict_1

{2: 4}

In [93]:
dict_1['Data Camp'] = 0
dict_1

{2: 4, 'Data Camp': 0}

In [94]:
dict_1.update(dict_3)
dict_1

{2: 4, 'Data Camp': 0, 'spam': 2, 'eggs': 3}

# Read

In [96]:
if 'eggs' in dict_1:
    print(dict_1['eggs'])

3

In [97]:
dict_1.get('spam', 0)

2

In [98]:
dict_1.keys()

dict_keys([2, 'Data Camp', 'spam', 'eggs'])

In [99]:
dict_1.values()

dict_values([4, 0, 2, 3])

In [100]:
dict_1.items()

dict_items([(2, 4), ('Data Camp', 0), ('spam', 2), ('eggs', 3)])

# Traverse a dict

In [102]:
# option 1
for key in dict_2:
    print(key, dict_2[key])

spam 2
eggs 3
food {'ham': 1, 'ice': 2}

In [104]:
#option 2
for key in dict_2.keys():
    print(key, dict_2[key])

spam 2
eggs 3
food {'ham': 1, 'ice': 2}

In [105]:
# option 3
for (key, val) in dict_2.items():
    print(key, val)

spam 2
eggs 3
food {'ham': 1, 'ice': 2}

# Update

In [106]:
dict_1['spam'] = 100
dict_1

{2: 4, 'Data Camp': 0, 'spam': 100, 'eggs': 3}

# Delete

In [107]:
dict_2.pop('spam')
dict_2

{'eggs': 3, 'food': {'ham': 1, 'ice': 2}}

In [108]:
del dict_2['food']
dict_2

{'eggs': 3}

# Len

In [109]:
len(dict_2)

1